# C++ objects and libs

*.slo
*.lo
*.o
*.obj
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.lib
*.exe

# Qt
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.user
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# Compiler-Specific
*.gch
*.pch

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# BALLS-Specific
build/*
temp/*
*/tango-icon-theme-*/*

.vagrant/
*.log