[submodule "qt-solutions"]
	path = BALLS/qt-solutions
	url = http://code.qt.io/qt-solutions/qt-solutions.git
[submodule "glm"]
	path = BALLS/glm
	url = https://github.com/g-truc/glm.git
[submodule "Qtilities"]
	path = BALLS/Qtilities
	url = https://github.com/JPNaude/Qtilities.git
