[submodule "qt-solutions"]
	path = BALLS/external/qt-solutions
	url = http://code.qt.io/qt-solutions/qt-solutions.git
[submodule "glm"]
	path = BALLS/external/glm
	url = https://github.com/g-truc/glm.git
